body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#fdcae1;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.carrito {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
}




img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 500px;
}